
<div class="output-container">
  <div>
    <mat-list class="calc-input">
      <mat-list-item>Amount: {{ inputAmount }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tax %: {{ inputTax }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tax Type: {{ taxType }}</mat-list-item>
    </mat-list>
  </div><br>
  <div>
    <mat-list class="calc-results">
      <mat-list-item>calculated Tax: </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>calculated Total: </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div><br>

  <div>
    <button class="btn-back"
      mat-stroked-button 
      color="primary" 
      routerLink="/input">BACK
    </button>
  </div>
</div>

<div class="outputRecyclebin">
  <div>oJunk: {{ msg }}</div>
  <div>{{ msg2 }}</div>
</div>
 