<div class="input-container">
    <mat-form-field>
      <input matInput 
             placeholder="Amount" 
             name="inputAmount" 
             [(ngModel)]="inputAmount" 
             type="number" 
             step="0.01">
    </mat-form-field><br>

    <mat-form-field>
      <input matInput 
             placeholder="Tax %" 
             name="inputTax"
             [(ngModel)]="inputTax" 
             type="number">
    </mat-form-field><br>

    <mat-form-field class="vat-selector">
      <mat-select [(ngModel)]="selectedTax" name="selectedTax" placeholder="Select VAT" required>
        <mat-option *ngFor="let vat of vats" [value]="vat.value">{{ vat.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field><br>

    <button class="btn-submit"
      mat-stroked-button 
      color="primary" 
      type="submit" 
      routerLink="/output">CALCULATE
    </button><br> 
  <div>
    <button class="btn-back"
      mat-stroked-button 
      color="primary" 
      routerLink="/home">BACK
    </button>
  </div> 
</div>

<div class="inputRecyclebin">
  <div>Amount: {{ inputAmount }}</div>
  <div>Tax: {{ inputTax }}</div><br>
  <div>iJunk: {{ msg }}</div><br>
  <div>TaxPaid => {{ calc.displayTaxPaid(inputAmount, inputTax, selectedTax) }}</div>
  <div>CalcResult => {{ calc.displayCalcResult(inputAmount, inputTax, selectedTax) }}</div>
</div>
